<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anmnight.localserver">

    <application
        android:name=".LocalServerApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AndServerEntryActivity" />

        <service android:name=".ServerHost" />

    </application>

</manifest>