<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anmnight.remoteprocess">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".RemoteApplication"
        android:icon="@mipmap/ic_launcher"
        android:label=":Remote"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.anmnight.remote.server.messenger" />
            </intent-filter>
        </service>
        <service
            android:name=".service.SystemLogService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.anmnight.remote.system.log" />
            </intent-filter>

        </service>
    </application>

</manifest>